<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HEAT RUN" parallel="tests" thread-count="1">

    <!-- Please do not touch this section: START -->
    <listeners>
        <listener class-name="com.hotels.restassuredframework.core.listeners.CustomTestNgListener"/>
        <listener class-name="com.hotels.restassuredframework.core.listeners.CustomJUnitReportListener" />
    </listeners>
    <parameter name="envPropFilePath" value="environment.properties"/>
    <!-- Please do not touch this section: END -->

    <test name="FIRST_SUITE" enabled="false">
        <parameter name="inputJsonPath" value="/testCases/ExampleSingleModeTestCases.json"/>
        <parameter name="enabledEnvironments" value="environment1,environment2"/>
        <classes>
            <class name="com.hotels.restassuredframework.core.runner.SingleMode"/>
        </classes>
    </test>

    <test name="GOOGLE_MAPS_ENV1" enabled="true">
        <parameter name="inputJsonPath" value="/testCases/GmapsSingleModeTestCases.json"/>
        <parameter name="enabledEnvironments" value="environment1"/>
        <classes>
            <class name="com.hotels.restassuredframework.core.runner.SingleMode"/>
        </classes>
    </test>

    <test name="GOOGLE_MAPS_ENV2" enabled="true">
        <parameter name="inputJsonPath" value="/testCases/GmapsSingleModeTestCases.json"/>
        <parameter name="enabledEnvironments" value="environment2"/>
        <classes>
            <class name="com.hotels.restassuredframework.core.runner.SingleMode"/>
        </classes>
    </test>

    <test name="POST_TESTS_ENV3" enabled="true">
        <parameter name="inputJsonPath" value="/testCases/GmapsSingleModePostTestCases.json"/>
        <parameter name="enabledEnvironments" value="environment3"/>
        <classes>
            <class name="com.hotels.restassuredframework.core.runner.SingleMode"/>
        </classes>
    </test>

    <test name="GOOGLE_FLOW_ENV1" enabled="true">
        <parameter name="inputJsonPath" value="/testCases/GmapFlowModeTestCases.json"/>
        <parameter name="enabledEnvironments" value="environment1"/>
        <classes>
            <class name="com.hotels.restassuredframework.core.runner.FlowMode"/>
        </classes>
    </test>

    <test name="GOOGLE_COMPARE_ENV1" enabled="true">
        <parameter name="inputJsonPath" value="/testCases/GmapsCompareModeTestCases.json"/>
        <parameter name="enabledEnvironments" value="environment1"/>
        <classes>
            <class name="com.hotels.restassuredframework.core.runner.CompareMode"/>
        </classes>
    </test>

</suite>
